.threeD {
  color: white;
  flex: 1;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
  1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
  5px 13px 15px black;
}
