.glare {
  overflow: hidden;
}

@keyframes shining {
  0% {
    transform: skewX(-45deg) translateX(-75px);
  }
  20%,
  100% {
    transform: skewX(-45deg) translateX(400px);
  }
}

.glare:after {
  position: absolute;
  content: '';
  top: 0;
  left: -75px;
  height: 100%;
  width: 50px;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-45deg);
  animation: shining 4000ms infinite;
}
